
/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: #232126;
    margin-left: 7%;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #232126;
    margin-left: 10%;
} 

/*formatação "caixas"*/
#caixas {
    font-family: sans-serif;
    color: #232126;
    margin-left: 10%;
}